schemas/repo-health.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://mokoconsulting.tech/schemas/repo-health"
           xmlns:rh="http://mokoconsulting.tech/schemas/repo-health"
           elementFormDefault="qualified">

  <!-- Root element for repository health configuration -->
  <xs:element name="repo-health">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadata" type="rh:MetadataType"/>
        <xs:element name="scoring" type="rh:ScoringType"/>
        <xs:element name="checks" type="rh:ChecksType"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
      <xs:attribute name="schema-version" type="xs:string" fixed="1.0"/>
    </xs:complexType>
  </xs:element>

  <!-- Metadata about the health configuration -->
  <xs:complexType name="MetadataType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="effective-date" type="xs:dateTime"/>
      <xs:element name="maintainer" type="xs:string"/>
      <xs:element name="repository-url" type="xs:anyURI" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Scoring configuration -->
  <xs:complexType name="ScoringType">
    <xs:sequence>
      <xs:element name="total-points" type="xs:positiveInteger"/>
      <xs:element name="categories" type="rh:CategoriesType"/>
      <xs:element name="thresholds" type="rh:ThresholdsType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Categories of health checks -->
  <xs:complexType name="CategoriesType">
    <xs:sequence>
      <xs:element name="category" type="rh:CategoryType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Single category definition -->
  <xs:complexType name="CategoryType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="max-points" type="xs:positiveInteger"/>
      <xs:element name="enabled" type="xs:boolean" default="true"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Score level thresholds -->
  <xs:complexType name="ThresholdsType">
    <xs:sequence>
      <xs:element name="threshold" type="rh:ThresholdType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Single threshold definition -->
  <xs:complexType name="ThresholdType">
    <xs:sequence>
      <xs:element name="level" type="rh:HealthLevelEnum"/>
      <xs:element name="min-percentage" type="rh:PercentageType"/>
      <xs:element name="max-percentage" type="rh:PercentageType"/>
      <xs:element name="indicator" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Health level enumeration -->
  <xs:simpleType name="HealthLevelEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="excellent"/>
      <xs:enumeration value="good"/>
      <xs:enumeration value="fair"/>
      <xs:enumeration value="poor"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Percentage type (0-100) -->
  <xs:simpleType name="PercentageType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Health checks configuration -->
  <xs:complexType name="ChecksType">
    <xs:sequence>
      <xs:element name="check-group" type="rh:CheckGroupType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Check group (category of checks) -->
  <xs:complexType name="CheckGroupType">
    <xs:sequence>
      <xs:element name="category-ref" type="xs:string"/>
      <xs:element name="check" type="rh:CheckType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Individual check definition -->
  <xs:complexType name="CheckType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="points" type="xs:positiveInteger"/>
      <xs:element name="check-type" type="rh:CheckTypeEnum"/>
      <xs:element name="parameters" type="rh:ParametersType" minOccurs="0"/>
      <xs:element name="required" type="xs:boolean" default="true"/>
      <xs:element name="remediation" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Check type enumeration -->
  <xs:simpleType name="CheckTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="file-exists"/>
      <xs:enumeration value="directory-exists"/>
      <xs:enumeration value="file-content"/>
      <xs:enumeration value="file-size"/>
      <xs:enumeration value="workflow-exists"/>
      <xs:enumeration value="workflow-passing"/>
      <xs:enumeration value="secret-configured"/>
      <xs:enumeration value="github-setting"/>
      <xs:enumeration value="branch-exists"/>
      <xs:enumeration value="custom-script"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Check parameters -->
  <xs:complexType name="ParametersType">
    <xs:sequence>
      <xs:element name="parameter" type="rh:ParameterType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Single parameter definition -->
  <xs:complexType name="ParameterType">
    <xs:sequence>
      <xs:element name="key" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
      <xs:element name="type" type="rh:ParameterTypeEnum" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Parameter type enumeration -->
  <xs:simpleType name="ParameterTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="string"/>
      <xs:enumeration value="integer"/>
      <xs:enumeration value="boolean"/>
      <xs:enumeration value="regex"/>
      <xs:enumeration value="path"/>
      <xs:enumeration value="url"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
