schemas/repository-structure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://mokoconsulting.com/schemas/repository-structure"
           xmlns:rs="http://mokoconsulting.com/schemas/repository-structure"
           elementFormDefault="qualified">

  <!-- Root element for repository structure definition -->
  <xs:element name="repository-structure">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadata" type="rs:MetadataType"/>
        <xs:element name="structure" type="rs:StructureType"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
      <xs:attribute name="schema-version" type="xs:string" fixed="1.0"/>
    </xs:complexType>
  </xs:element>

  <!-- Metadata about the repository structure -->
  <xs:complexType name="MetadataType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="repository-type" type="rs:RepositoryTypeEnum"/>
      <xs:element name="platform" type="rs:PlatformEnum"/>
      <xs:element name="last-updated" type="xs:dateTime"/>
      <xs:element name="maintainer" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Repository type enumeration -->
  <xs:simpleType name="RepositoryTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="standards"/>
      <xs:enumeration value="waas-component"/>
      <xs:enumeration value="waas-module"/>
      <xs:enumeration value="waas-plugin"/>
      <xs:enumeration value="waas-template"/>
      <xs:enumeration value="waas-library"/>
      <xs:enumeration value="waas-package"/>
      <xs:enumeration value="crm-module"/>
      <xs:enumeration value="crm-plugin"/>
      <xs:enumeration value="application"/>
      <xs:enumeration value="library"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Platform enumeration -->
  <xs:simpleType name="PlatformEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="mokowaas"/>
      <xs:enumeration value="mokokrm"/>
      <xs:enumeration value="standards"/>
      <xs:enumeration value="multi-platform"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Main structure definition -->
  <xs:complexType name="StructureType">
    <xs:sequence>
      <xs:element name="root-files" type="rs:FilesType" minOccurs="0"/>
      <xs:element name="directories" type="rs:DirectoriesType" minOccurs="0"/>
      <xs:element name="repository-requirements" type="rs:RepositoryRequirementsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Repository Requirements -->
  <xs:complexType name="RepositoryRequirementsType">
    <xs:sequence>
      <xs:element name="variables" type="rs:VariablesType" minOccurs="0"/>
      <xs:element name="secrets" type="rs:SecretsType" minOccurs="0"/>
      <xs:element name="branch-protections" type="rs:BranchProtectionsType" minOccurs="0"/>
      <xs:element name="repository-settings" type="rs:RepositorySettingsType" minOccurs="0"/>
      <xs:element name="labels" type="rs:LabelsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Variables definition -->
  <xs:complexType name="VariablesType">
    <xs:sequence>
      <xs:element name="variable" type="rs:VariableType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VariableType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="default-value" type="xs:string" minOccurs="0"/>
      <xs:element name="required" type="xs:boolean" default="true"/>
      <xs:element name="scope" type="rs:VariableScopeEnum" default="repository"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="VariableScopeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="repository"/>
      <xs:enumeration value="environment"/>
      <xs:enumeration value="organization"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Secrets definition -->
  <xs:complexType name="SecretsType">
    <xs:sequence>
      <xs:element name="secret" type="rs:SecretType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SecretType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="required" type="xs:boolean" default="true"/>
      <xs:element name="scope" type="rs:SecretScopeEnum" default="repository"/>
      <xs:element name="used-in" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="SecretScopeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="repository"/>
      <xs:enumeration value="environment"/>
      <xs:enumeration value="organization"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Branch Protections -->
  <xs:complexType name="BranchProtectionsType">
    <xs:sequence>
      <xs:element name="branch-protection" type="rs:BranchProtectionType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BranchProtectionType">
    <xs:sequence>
      <xs:element name="branch-pattern" type="xs:string"/>
      <xs:element name="require-pull-request" type="xs:boolean" default="true"/>
      <xs:element name="required-approvals" type="xs:int" minOccurs="0"/>
      <xs:element name="require-code-owner-review" type="xs:boolean" default="false"/>
      <xs:element name="dismiss-stale-reviews" type="xs:boolean" default="true"/>
      <xs:element name="require-status-checks" type="xs:boolean" default="true"/>
      <xs:element name="required-status-checks" type="rs:StatusChecksType" minOccurs="0"/>
      <xs:element name="enforce-admins" type="xs:boolean" default="false"/>
      <xs:element name="restrict-pushes" type="xs:boolean" default="true"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StatusChecksType">
    <xs:sequence>
      <xs:element name="check" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Repository Settings -->
  <xs:complexType name="RepositorySettingsType">
    <xs:sequence>
      <xs:element name="has-issues" type="xs:boolean" default="true"/>
      <xs:element name="has-projects" type="xs:boolean" default="true"/>
      <xs:element name="has-wiki" type="xs:boolean" default="false"/>
      <xs:element name="has-discussions" type="xs:boolean" default="false"/>
      <xs:element name="allow-merge-commit" type="xs:boolean" default="true"/>
      <xs:element name="allow-squash-merge" type="xs:boolean" default="true"/>
      <xs:element name="allow-rebase-merge" type="xs:boolean" default="false"/>
      <xs:element name="delete-branch-on-merge" type="xs:boolean" default="true"/>
      <xs:element name="allow-auto-merge" type="xs:boolean" default="false"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Labels -->
  <xs:complexType name="LabelsType">
    <xs:sequence>
      <xs:element name="label" type="rs:LabelType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LabelType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="color" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Files collection -->
  <xs:complexType name="FilesType">
    <xs:sequence>
      <xs:element name="file" type="rs:FileType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Individual file definition -->
  <xs:complexType name="FileType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="requirement-status" type="rs:RequirementStatusEnum" default="required"/>
      <xs:element name="source" type="rs:SourceType" minOccurs="0"/>
      <xs:element name="destination" type="rs:DestinationType" minOccurs="0"/>
      <xs:element name="always-overwrite" type="xs:boolean" default="true" minOccurs="0"/>
      <xs:element name="audience" type="rs:AudienceEnum" minOccurs="0"/>
      <xs:element name="template" type="xs:string" minOccurs="0"/>
      <xs:element name="stub-content" type="xs:string" minOccurs="0"/>
      <xs:element name="validation-rules" type="rs:ValidationRulesType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="extension" type="xs:string"/>
  </xs:complexType>

  <!-- Source definition for file templates -->
  <xs:complexType name="SourceType">
    <xs:sequence>
      <xs:element name="path" type="xs:string"/>
      <xs:element name="filename" type="xs:string"/>
      <xs:element name="type" type="rs:SourceTypeEnum" default="template"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Destination definition for file placement -->
  <xs:complexType name="DestinationType">
    <xs:sequence>
      <xs:element name="path" type="xs:string"/>
      <xs:element name="filename" type="xs:string"/>
      <xs:element name="create-path" type="xs:boolean" default="true" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Source type enumeration -->
  <xs:simpleType name="SourceTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="template">
        <xs:annotation>
          <xs:documentation>Copy from template file</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="stub">
        <xs:annotation>
          <xs:documentation>Generate stub file if no source defined</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="copy">
        <xs:annotation>
          <xs:documentation>Direct copy from source location</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!-- Requirement status enumeration -->
  <xs:simpleType name="RequirementStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="required">
        <xs:annotation>
          <xs:documentation>File or directory MUST be present. Missing items block production deployment.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="suggested">
        <xs:annotation>
          <xs:documentation>File or directory SHOULD be present. Missing items reduce repository health score but don't block deployment.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="optional">
        <xs:annotation>
          <xs:documentation>File or directory MAY be present. No impact on compliance or health score.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="not-allowed">
        <xs:annotation>
          <xs:documentation>File or directory MUST NOT be present. Presence is a compliance violation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!-- Audience enumeration -->
  <xs:simpleType name="AudienceEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="developer"/>
      <xs:enumeration value="end-user"/>
      <xs:enumeration value="administrator"/>
      <xs:enumeration value="contributor"/>
      <xs:enumeration value="general"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Directories collection -->
  <xs:complexType name="DirectoriesType">
    <xs:sequence>
      <xs:element name="directory" type="rs:DirectoryType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Individual directory definition -->
  <xs:complexType name="DirectoryType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="requirement-status" type="rs:RequirementStatusEnum" default="required"/>
      <xs:element name="purpose" type="xs:string" minOccurs="0"/>
      <xs:element name="files" type="rs:FilesType" minOccurs="0"/>
      <xs:element name="subdirectories" type="rs:DirectoriesType" minOccurs="0"/>
      <xs:element name="validation-rules" type="rs:ValidationRulesType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="path" type="xs:string"/>
  </xs:complexType>

  <!-- Validation rules -->
  <xs:complexType name="ValidationRulesType">
    <xs:sequence>
      <xs:element name="rule" type="rs:ValidationRuleType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Individual validation rule -->
  <xs:complexType name="ValidationRuleType">
    <xs:sequence>
      <xs:element name="type" type="rs:RuleTypeEnum"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="pattern" type="xs:string" minOccurs="0"/>
      <xs:element name="severity" type="rs:SeverityEnum" default="error"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Rule type enumeration -->
  <xs:simpleType name="RuleTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="naming-convention"/>
      <xs:enumeration value="content-pattern"/>
      <xs:enumeration value="file-exists"/>
      <xs:enumeration value="directory-exists"/>
      <xs:enumeration value="min-size"/>
      <xs:enumeration value="max-size"/>
      <xs:enumeration value="header-required"/>
      <xs:enumeration value="license-required"/>
      <xs:enumeration value="custom"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Severity enumeration -->
  <xs:simpleType name="SeverityEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="error"/>
      <xs:enumeration value="warning"/>
      <xs:enumeration value="info"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
